body {
  margin: 0px;
}
.body {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300vh;
}
.square {
  width: 250px;
  height: 250px;
  z-index: 0;
}
.background {
  background-color: red;
}
.homepage {
  margin-top: 200px;
}

.home-main-image {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.home-text-div {
  width: 400px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.home-title {
  margin: 0px;
  font-size: 50px;
  color: white;
  opacity: 1;
  position: relative;
  top: 0px;
  animation : text-moveU 0.25s ease-in-out;
  animation-duration: 1s; 
}
.home-title-plus{
  animation : text-moveU 0.25s ease-in-out;
  animation-duration: 0.75s;
}

@keyframes text-moveU {
  from {
    opacity: 0;
    top:30px
  }
  to {
    opacity: 1;
    top:0px;
  }
}

.home-text {
  font-size: 20px;
  color: white;
  animation: home-txt 0.25s ease-in-out forwards;
  animation-duration: 1s;
  animation-delay: 0.75s;
  opacity: 0;
}
@keyframes home-txt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-main-text {
  width: 100%;
  height: 100px;
  margin-top: 0px;
  overflow: hidden;
}

#animTxt {
  background-color: beige;
}

.home-main-text-div {
  width: 700px;
  height: 70px;
  margin-top: 0px;
  opacity: 1;
  animation: text-moveUp 0.25s ease-in-out;
  animation-duration: 1s;
}

@keyframes text-moveUp {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.home-txt {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.vis {
  display: none;
}
.home-cards {
  height: 570px;
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;
  overflow: hidden;
}
.home-card {
  height: 268px;
  width: 85%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  animation: card-anim 0.25s ease-in-out;
  animation-duration: 1s;
  opacity: 1;
  margin-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 118%;
  transition: background-size 1s ease-in;
  overflow: hidden;
}
.home-card:hover {
  background-size: 130%;
}

@keyframes card-anim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.home-card-wrap {
  height: fit-content;
  width: 100%;
  gap: 10px;
  padding-bottom: 10%;
}
.home-card-txt-wrp {
  width: 100%;
  height: fit-content;
  padding-top: 10%;
}
.home-card-title {
  margin: 0%;
  margin-bottom: 3%;
  font-size: 18px;
}
.home-card-txt {
  margin: 0%;
  font-size: 14px;
}
.hide{
  display: none;
}
/*try add proper classes name to make your work 2x easier*/

@media only screen and (max-width: 400px) {
  .home-text-div {
    width: 280px;
  }
  .home-title {
    margin: 0px;
    font-size: 40px;
  }
  .home-text {
    font-size: 14px;
  }
  #home-btn {
    position: relative;
    left: -25px;
  }
}

@media only screen and (min-width: 400px) {
  .home-cards {
    height: 750px;
  }
  .home-card {
    height: 355px;
  }
  .home-txt {
    font-size: 22px;
  }
  .home-card-wrap {
    gap: 0px;
    padding-left: 3%;
  }
  .home-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 550px) {
  .home-card {
    height: 1000px;
    width: 95%;
  }
  .home-cards {
    height: 1050px;
  }
  .home-card-title {
    font-size: 30px;
  }
  .home-card-txt {
    font-size: 17px;
  }
}
@media only screen and (min-width: 650px) {
  .home-txt {
    font-size: 29px;
  }
  .home-main-text {
    height: 120px;
  }
  .home-main-text-div {
    height: 100px;
  }
}
@media only screen and (min-width: 700px) {
  .home-cards {
    flex-direction: row;
    height: 350px;
  }
  .home-card {
    height: 330px;
    width: 45%;
  }
  .home-card-title {
    font-size: 18px;
  }
  .home-card-txt {
    font-size: 14px;
  }
}
@media only screen and (min-width: 850px) {
  .home-card {
    height: 450px;
  }
  .home-cards {
    height: 520px;
  }
}

@media only screen and (min-width: 1000px) {
  .home-txt {
    font-size: 40px;
  }
  .home-main-text {
    height: 170px;
  }
  .home-main-text-div {
    height: 130px;
  }
  .home-card {
    height: 600px;
    width: 600px;
  }
  .home-cards {
    height: 750px;
  }
  .home-card-title {
    font-size: 30px;
  }
  .home-card-txt {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1150px) {
  .home-card {
    height: 700px;
    width: 600px;
  }
}

@media only screen and (min-width: 1920px) {
  .home-main-text {
    height: 200px;
    width: 100%;
    margin-top: 20px;
  }
  .home-main-text-div {
    width: 1100px;
  }
  .home-txt {
    font-size: 45px;
  }
  .hidden {
    display: none;
  }
}
